---
title: Ping's Space
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css" />
  <title>{{ title }}</title>
</head>

<body>
  <div class="min-h-screen">
    <nav>
      <div class="navbar bg-base-100">
        <a class="btn btn-ghost text-xl">Ping's Space</a>
        <ul class="menu menu-vertical lg:menu-horizontal rounded-box">
          <li><a>Home</a></li>
          <li><a>Playground</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
    </nav>
    {{ content | safe }}
    <footer class="footer sticky top-[100vh] footer-center p-4 bg-base-300 text-base-content">
      <aside>
        <p>Copyright © 202[34] - All right reserved by Ping &lt;ping.q@outlook.com&gt;
        </p>
      </aside>
    </footer>
  </div>
</body>

</html>