---
layout: layouts/base.njk
---

<div class="hero">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello there</h1>
            <p class="py-6">Coming soon...</p>
        </div>
    </div>
</div>